#!/usr/bin/python
# -*- coding: utf-8 -*-

server="irc.freenode.net"
port=8001
nick="statusbot"
password="password for nickserv"
channel="#wikimedia-status"
dbdb="u_lifeguard_statusbot"
dbuser="lifeguard"
dbhost="sql"
dbpass="password *FOR MYSQL*"
randmessage="\x0305Current status:\x03 || Wikis: \x0303OK\x03 | uploads: \x0303OK\x03 | bugzilla: \x0303OK\x03 | job queues: \x0303OK\x03 | wikitech: \x0303OK\x03"
docurl="http://toolserver.org/~lifeguard/docs/statusbot"
proxynicks=['logmsgbot', 'logmsgbot_']

